<form class="form-horizontal" style="margin-top: 150px;">

  <div class="form-group">
    <label for="firstname" class="col-sm-2 col-sm-offset-2 control-label">First name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="firstname" value="{{ data?.firstname }}"  #firstname>
    </div>
  </div>

  <div class="form-group">
    <label for="lastname" class="col-sm-2 col-sm-offset-2 control-label">Last name</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="lastname" value="{{ data?.lastname }}" #lastname>
    </div>
  </div>

  <div class="form-group">
    <label for="email" class="col-sm-2 col-sm-offset-2 control-label">Email</label>
    <div class="col-sm-4">
      <input type="email" class="form-control" id="email" value="{{ data?.email }}" #email required>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-4 col-sm-8">
      <button type="submit" class="btn btn-success"(click)="editUser(firstname, lastname, email)">
        <i class="fa fa-check" aria-hidden="true" style="margin-right: 7px;"></i>Save
      </button>
    </div>
  </div>

</form>
