<div class="row">
  <div class="col-sm-offset-2 col-sm-8">

    <div class="media" *ngFor="let user of data?.users">

      <div style="margin-top: 50px;" *ngIf="!user.hasOwnProperty('deleted_at')">

        <div class="media-left">
          <img class="media-object" src="default-profile.png">
        </div>

        <div class="media-body">
          <a [routerLink]="['profile', user._id]">
            <h4 class="media-heading">{{ user.firstname + " " + user.lastname }}</h4>
          </a>

          <div style="display: inline-block">
            <p>email: {{ user.email }}</p>
          </div>

          <div class="pull-right" style="display: inline-block">
            <button class="btn btn-danger pull-right" style="margin-left: 15px;" (click)="deleteUser(user._id)">
              <i class="fa fa-trash-o" aria-hidden="true" style="margin-right: 7px;"></i>Delete user
            </button>

            <button class="btn btn-info pull-right" [routerLink]="['edit', user._id]" routerLinkActive="active">
              <i class="fa fa-pencil" aria-hidden="true" style="margin-right: 7px;"></i>Edit user
            </button>
          </div>

          <p><i>On the site {{ user.created_at | yearsAndMonths }}</i></p>

        </div>

      </div>

    </div>
  </div>
</div>
